In [1]:
import pandas as pd
import numpy as np
import geopandas

%matplotlib inline

In [2]:
baseurl = 'https://raw.githubusercontent.com/thomaspingel/geodata/master/county_health_rankings/chr_'
field = 'Median household income - Household Income'

df = pd.read_csv(baseurl + '2012.csv',dtype={'FIPS':str})
df = df.loc[:,['FIPS',field]]
df = df.rename(columns={field:field + '_2012'})

df1 = pd.read_csv(baseurl + '2013.csv',dtype={'FIPS':str})
df1 = df1.loc[:,['FIPS',field]]
df1 = df1.rename(columns={field:field + '_2013'})
df = df.merge(df1,how='left',on='FIPS')

df1 = pd.read_csv(baseurl + '2014.csv',dtype={'FIPS':str})
df1 = df1.loc[:,['FIPS',field]]
df1 = df1.rename(columns={field:field + '_2014'})
df = df.merge(df1,how='left',on='FIPS')

df.to_csv('just_my_data.csv',index=False)

In [3]:
df.head()

,FIPS,Median household income - Household Income_2012,Median household income - Household Income_2013,Median household income - Household Income_2014
0,01001,53049.0,48863.0,51441.0
1,01003,47618.0,50144.0,48867.0
2,01005,33074.0,30117.0,30287.0
3,01007,35472.0,37347.0,37392.0
4,01009,42906.0,41940.0,44225.0